<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ author }}'s LED controller
    </title>
  </head>

  <body style="background-color:IVORY;">
    <h2 style="color:crimson;font-size:100px"> LED is {{ value }}!</h2>

    <form  action="/" method="post">
  <p>
    <input type="submit" name="button" value="Turn On">
  </p>
  <p>
    <input type="submit" name="button" value="Turn Off">
  </p>
    <style>
      input[type=submit] {
  width: 20%;
  background-color: #42D1DF;
  font-size: 50px;
  color: white;
  padding: 25px 20px;
  margin: 10px 0;
  border: 4px solid #EDF321;
  border-radius: 4px;
}
    </style>
  </form>

  </body>
</html>
